<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/34df017af4.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="grid">
            
            <h1 id="page-heading">
                <i class="fas fa-tasks"></i>
                TO-DO APP
            </h1>
            <form action="/create-task" method="post">
                <div id="description" class="fields">
                    <h4>DESCRIPTION</h4>
                    <textarea name="task" name="task" cols="30" rows="2" placeholder="What do you need to do?" id="text-area"></textarea>
                </div>
                <div class="fields" id="parent">
                    <div class="field-child">
                        <h4>CATEGORY</h4>
                        <!-- <input type="text" name="category"> -->
                        <select name="category" id="category">
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="field-child">
                        <h4>DUE DATE:</h4>
                        <input type="date" name="date">
                    </div>
                </div>
                <button type="submit" id="create-btn">CREATE TASK</button>
            </form>
            <ul>
                <% for (let i of task_list) {%>
                    <li>
                        <div class="details">
                            <%= i.task %>  <%= i.category %> <%= i.date %>
                            <a href="/delete-task/?id=<%= i._id %>">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </li>
                <%}%>
            </ul>
        </div>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>